{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<h1>Table</h1>
<h1>Table</h1>


<h1 class="justify-content-center">Table</h1>

<table class="table mt-5">
  <thead class="black white-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>

    </tr>
  </tbody>
</table>

{% endblock %}