{% extends 'store/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
  <h1>Table</h1>
  <h1>Table</h1>
  <h1 class="text-center mb-5">Order Summary</h1>
  <table class="styled-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in orderitems %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="{{item.product.get_absolute_url}}">{{item.product.name}}</a></td>
          <td>{{item.quantity}}</td>
          <td>{{item.get_total_price}}</td>
        </tr>
      </tr>
    {% endfor %}
    <tr>
      <td style="font-weight: bold;">Total</td>
      <td></td>
      <td></td>
      <td class="ml-5">{{order_total}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}